body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #272822;
}

main h3 {
  color: #ffffff;
  font-size: 1.6rem;
  font-weight: 600;
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-family: Arial, sans-serif;
  border-bottom: 2px solid #008080;
  display: inline-block; /* Para que la línea solo ocupe el ancho del texto */
  padding-bottom: 5px;
}

main p {
  font-size: 1.1rem;
  color: #e0e0e0;
  text-align: justify;
  line-height: 1.6;
  margin-top: 1rem;
  max-width: 800px;
}


.hero {
  width: 100%;       /* ancho total del contenedor padre */
  height: 30vh;      /* altura que quieras */
  overflow: hidden;
  padding: 0;
  line-height: 0;    /* elimina espacios de línea */
}

.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;   /* elimina espacios blancos debajo de la imagen */
}


.contenedor-hoja {
  max-width: 950px;   /* O el ancho que prefieras */
  margin-left: auto;  /* Empuja desde la izquierda */
  margin-right: auto; /* Empuja desde la derecha */
  
  /* El resto de tus estilos se quedan igual */
  background-color: #272822;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 20px 50px rgba(0,0,0,0.5);
}